@using Microsoft.AspNetCore.Identity
@inject UserManager<VideojuegosApp.Models.VideojuegoUser> UserManager
@inject SignInManager<VideojuegosApp.Models.VideojuegoUser> SignInManager

@{
    var user = await UserManager.GetUserAsync(User);
    var nombreCompleto = user != null ? $"{user.Nombre} {user.Materno}" : "Invitado";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin</title>
    <link href="~/adminlte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/adminlte/dist/css/adminlte.min.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-user"></i> @nombreCompleto
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <form asp-controller="Account" asp-action="Logout" method="post" class="dropdown-item">
                                <button type="submit" class="btn btn-link text-dark p-0 m-0" style="text-decoration: none;">
                                    <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                                </button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </nav>

        <!-- Sidebar -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="~/Admin" class="brand-link">
                <span class="brand-text font-weight-light">Panel Admin</span>
            </a>

            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="#" class="d-block">@nombreCompleto</a>
                    </div>
                </div>

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                        <li class="nav-item">
                            <a asp-controller="Productos" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-plus"></i>
                                <p>Registrar Medicamento</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Productos" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-th-list"></i>
                                <p>Ver Medicamentos</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <!-- Contenido principal  -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminlte/dist/js/adminlte.js"></script>
</body>
</html>
